<div class="container-fluid" *ngIf="!posts">
   Cargando...   
</div>

<div class="container-fluid" *ngIf="posts">   
   <h1>{{page_title}}</h1>
   
   <div class="card-columns">
      <div class="card w-100" *ngFor="let post of posts"> <!-- RECORREMOS POSTS -->

         <div class="card-header">
            <h3>
               <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
            </h3>
         </div>

         <div class="card-body">
            <!-- imagen -->
            <div class="post-image-mask w-100" *ngIf="post.image">
               <img src="{{ url + 'post/image/' + post.image }}" class="w-100" alt="">
            </div>            

            <div class="post-image-mask w-100" *ngIf="!post.image">
               <img src="https://via.placeholder.com/1200" class="w-100" alt="">
            </div>            
            
            <!-- botones de accion -->
            <div class="post-buttons mt-3">
               <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
               
               <span *ngIf="identity && identity.sub == post.user.id">
                  <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>
                  <!-- <a (click)="deletePost(post.id)" class="btn btn-danger">Borrar</a> -->
                  
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#exampleModal'+post.id"> <!-- data-target="#exampleModal{{post.id}}" --> <!-- Se uso attr.data-target de Angular 10 para que funcione la llamada a los modals -->
                     Borrar
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar esta entrada?</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           Vas a borrar definitivamente {{post.title}}
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                           <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                           <a (click)="deletePost(post.id)" class="btn btn-danger" data-dismiss="modal">Borrar</a> <!-- Se le agrego el data-dismiss en el enlace para borrar ya que sin ello se queda el background del modal -->
                        </div>
                     </div>
                     </div>
                  </div>

               </span>
            </div>
         </div>
         
      </div>
   </div>
</div>
