<div class="container-fluid" *ngIf="!posts">
   Cargando...   
</div>

<div class="container-fluid" *ngIf="posts">   
   <h1>{{page_title}}</h1>
   
   <div class="card-columns">
      <div class="card w-100" *ngFor="let post of posts"> <!-- RECORREMOS POSTS -->

         <div class="card-header">
            <h3>
               <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
            </h3>
         </div>

         <div class="card-body">
            <!-- imagen -->
            <div class="post-image-mask w-100" *ngIf="post.image">
               <img src="{{ url + 'post/image/' + post.image }}" class="w-100" alt="">
            </div>            

            <div class="post-image-mask w-100" *ngIf="!post.image">
               <img src="https://via.placeholder.com/1200" class="w-100" alt="">
            </div>            
            
            <!-- botones de accion -->
            <div class="post-buttons mt-3">
               <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
               
               <span *ngIf="identity && identity.sub == post.user.id">
                  <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>
                  <a [routerLink]="['/inicio']" class="btn btn-danger">Borrar</a>               
               </span>
            </div>
         </div>
         
      </div>
   </div>
</div>
