<div class="container-fluid mt-3" *ngIf="!category">
   Cargando...   
</div>

<div class="container-fluid mt-3" *ngIf="category">   
   <h1>{{category.name}}</h1>
   <hr>
   
   <!-- NAV DE CATEGORIAS -->
   <app-category-nav-item></app-category-nav-item>

   <div class="alert alert-warning" *ngIf="posts && posts.length == 0">
      No hay entradas en esta categoria
   </div>

   <!-- LISTADO DE POSTS -->
   <post-list [posts]="posts"
              [identity]="identity"
              [url]="url"></post-list>
</div>
