<div class="container"> <!-- CONTENEDOR PRINCIPAL -->

    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!-- BARRA DE NAVEGACION -->
        <a class="navbar-brand" href="#">            
            <img src="assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            NG-BLOG
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/crear-categoria']">Categorias</a>
                </li>                
            </ul>

            <ul class="navbar-nav navbar-right" *ngIf="!identity">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/register']">Registro</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right" *ngIf="identity">
                <li class="nav-item" class="avatar_mask">
                    <img src="{{url + 'user/avatar/' + identity.image}}" alt="">
                </li>                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                        
                        {{identity.name + ' ' + identity.surname}}                        
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Crear entrada</a>
                        <a class="dropdown-item" href="#">Crear categoria</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mi perfil</a>
                        <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
                        <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
                    </div>
                </li>                
            </ul>
        </div>
    </nav> <!-- CERRAR BARRA DE NAVEGACION -->

    <!-- CONTENIDO -->
    <router-outlet></router-outlet>
    <!-- CERRAR CONTENIDO -->

    <!-- FOOTER -->
    <hr>
    <footer>
        Este proyecto fue desarrollado en Angular y Laravel, por Jorge Ernesto.
        © Company 2019, Inc. Todos los derechos reservados. Términos de uso y privacidad.
    </footer>
    <br>
    <!-- CERRAR FOOTER -->

</div> <!-- CERRAR CONTENEDOR PRINCIPAL -->